img {
    width: 15px;
    height: 15px;
}
.content{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 12px;
    font-weight: 400;
    filter: grayscale(1);
}