.search-box-container{
    display: grid;
    margin-top: 30px;
}
.selected{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 106px;
    background-color: #fff;
    border-right: solid 1px #ddd;
    
}
.search-box-container p {
    cursor: pointer;
}
.arrow-icon{
    padding-top: 3px;
    padding-left: 3px;
}
.selection{
    position: absolute;
    margin-top: 50px;
    z-index: 1;
}
.selection p{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 106px;
    background-color: #fff;
    cursor: pointer;
}

.selection p:hover{
    color: #fff;
    background-color: #505050;
}

@media screen and (max-width: 500px) {
    .search-box-container{
        display: grid;
        margin-top: 30px;
        justify-content: center;
    }
    .selection{
        position: absolute;
        margin-top: 50px;
        top: 20.2%;
        left: 50%;
        transform: translate(-50%)
    }
    .selection p{
        width: 106px;
    }
    .selected{
        border-right:none;
    }
}