.content-container {
    position: absolute;
    top: 0;
    margin-top: 280px;
    z-index: 0;
    width: 100%;
}
.content-container p {
    color: #fff;  
}
.token-data-container{
    display: grid;
    border: solid 1px #272727;
    margin: 0px 50px 0px 50px;
}

.data-container{
    padding-left: 30px;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
}

.data-container h1 {
    padding-top: 30px;
    border-top:solid 1px #272727;
}
.data-container p {
    border-bottom:solid 1px #272727;
    padding-bottom: 30px;
}
